* {
    margin: 0; 
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

a {
    
    text-decoration: none;
    color: steelblue; 
}


.collection-header {
    border: 1px black solid;
    width: 100%;
    color: black;
}

.collection-header a {
    
    color: black;
}



::placeholder {
    opacity: 25%;
}

